<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <% @posts.each do |post| %>
    <h1> <%= post.name %>  </h1>
    <p> <%= post.content %> </p>
    <% end %>
  </body>
</html>
